{% extends 'base.html.twig' %}

{% block title %}Tous les services du ZOO
{% endblock %}

{% block body %}
	<div class="hero-scene text-center text-white mt-5 mb-5">
		<div class="hero-scene-content">

			<h1>LES SERVICES</h1>
			<p>Ce que vous pouvez faire au ZOO Arcadia</p>

		</div>
	</div>
	<div class="text-white bg-secondary">
		<div class="container p-4">
			<h2 class="text-center text-white" id="service1"></h2>
			<div class="mt-4 row row-cols-1 row-cols-lg-2 align-items-center">
				<div class="col">
					<p class="text-left" id="description1"></p>
				</div>
				<div class="col">
					<img class="w-100 rounded" src="/uploads/" alt="food" id="image1">
				</div>
			</div>
		</div>
	</div>
<div class="bg-dark">
	<div class="container p-4 bg-dark">
		<h2 class="text-center p-4 text-white" id="service2"></h2>
		<div class="row row-cols-1 row-cols-lg-2 align-items-center">
			<div class="col">
				<p class="text-left text-white" id="description2"></p>
			</div>
			<div class="col">
				<img class="w-100 rounded" src="/uploads/" alt="food" id="image2">
			</div>
		</div>
	</div>
</div>
<div class="">
<div class="container p-4">
	<h2 class="text-center p-4 text-white" id="service3"></h2>
	<div class="row row-cols-1 row-cols-lg-2 align-items-center">
		<div class="col">
			<p class="text-left text-white" id="description3"></p>
		</div>
		<div class="col">
			<img class="w-100 rounded" src="/uploads/" alt="food" id="image3">
		</div>
	</div>
</div
</div>	
<script>
async function recupererService(serviceId) {
const url = `http://127.0.0.1:8000/api/services/${serviceId}`;
const requestOptions = {
method: "GET"
};

try {
const response = await fetch(url, requestOptions);

if (! response.ok) {
throw new Error (`HTTP error! Status: ${
response.status
}`);
}

const serviceData = await response.json(); // Assume the response is JSON

if (! serviceData || ! serviceData.servicesnom) {
throw new Error("Service name not found in response data");
}

const serviceElementId = `service${serviceId}`;
const descriptionElementId = `description${serviceId}`;
const imageElementId = `image${serviceId}`;

document.getElementById(serviceElementId).innerHTML = serviceData.servicesnom;
document.getElementById(descriptionElementId).innerHTML = serviceData.servicesdescription;
document.getElementById(imageElementId).src = "/uploads/" + serviceData.serviceimg;
} catch (error) {
console.error("Error fetching service name:", error);
// Optionally display a user-friendly error message
}
}

// Call the function with the desired service IDs
recupererService(3);
recupererService(2);
recupererService(1);
</script>{% endblock %}
