{% extends 'base.html.twig' %}

{% block title %}Hello SigninController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    
body{
	background-color: #26413c;
}
</style>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="vh-100 text-white example-wrapper">
    <h1 class="text-white">Inscription Admin</h1>

    {{ form(form)}}
</div>
{% endblock %}